@font-face {
    font-family: didotltsd;
    src: url(../fonts/DidotLTStd-Italic.otf);
}
@font-face {
    font-family: Novecentosanswide-Medium;
    src: url(../fonts/Novecentosanswide-Medium.otf);
}
@font-face {
    font-family: Novecentosanswide-Book;
    src: url(../fonts/Novecentosanswide-Book.otf);
}
body {
    font-family: Open Sans, sans-serif;
}
/* style phan content  */
#container {
    background:#101e24;
    margin: 150px auto;
}
.container__content {
    display: inline-block;
    width: 100%;
    max-width: 512px;
    height: 582px;
    box-sizing: border-box;
    vertical-align: top;
    background: #ffffff;
    padding: 50px 55px;
    text-align: left;
    margin-bottom: 15px;
    word-spacing: normal;
    box-shadow: 0 0 29px 0 rgb(0 0 0 / 9%);
    position: relative;
    top: -120px;
}
h2 {
    font-size: 16px;
}
h2:first-child {
    color: #ff4400;
}
a.button {
    border: 1px solid #ff583c;
    font-size: 16px;
    color: #ff4400;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px 60px;
    display: inline-block;
    text-align: center;
    width: 100%;
}
a.button:hover {
    color: white;
    background-color: #ff4400;
}
.form-control {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #ff4400;
    border-radius: 0;
}
.form-control:focus {
    box-shadow: none;
    border-radius: 0;
}
.link {
    color: #ff4400;
    text-decoration: none;
}
.link:hover {
    color: #ff4400;
    text-decoration: underline;
}
/* css footer */
.container-footer {
    background: #101e24;
    max-width: 100%;
}
.footer-link {
    font-weight: lighter;
    font-size: 13px;
    color: white;
    text-decoration: none;
    font-family: Novecentosanswide-Medium;
}
.footer-link:hover {
    color: #ff4400;
}
.container-content {
    padding: 60px 0;
}