@font-face {
    font-family: Novecentosanswide-Medium;
    src: url(../fonts/Novecentosanswide-Medium.otf);
}
@font-face {
    font-family: Novecentosanswide-Book;
    src: url(../fonts/Novecentosanswide-Book.otf);
}
@font-face {
    font-family: didotltsd;
    src: url(../fonts/DidotLTStd-Italic.otf);
}
@media screen and (max-width: 349px) {
    #timer .items .item-time { width: 40px; }
    #timer .items .item-time .value { font-size: 28px; margin-bottom: 10px; }
    #timer .items .item-time .label { font-size: 11px; }
}
@media screen and (max-width: 470px) {
    #timer .items .item-time { width: 70px; }
    #timer .items .item-time .value { font-size: 30px; margin-bottom: 10px; }
    #timer .items .item-time .label { font-size: 12px; }
}
@media screen and (max-width: 770px) {
    #timer .items .item-time { width: 80px; }
    #timer .items .item .value { font-size: 45px; }
}
body {
    font-family: 'Novecentosanswide-Medium', sans-serif;
}
nav {
    padding: 0 10px;
    margin: 18px 50px;
}
.img-carousel {
    max-height: 580px;
}
.items {
    margin: 50px 0;
    word-spacing: 0;
}
.items .item-time {
    display: inline-block;
    border-left: 1px solid #ff583c;
    width: 174px;
}
.items .item-time:last-child {
    border-right: 1px solid #ff583c;
}
.items .item-time .value {
    font-size: 75px;
    color: #101e24;
    margin-top: -10px;
    display: inline-block;
    margin-bottom: 20px;
    font-family: Open sans, sans-serif;
}
.items .item-time .label {
    font-size: 14px;
    display: inline-block;
}
.email-box {
    display: inline-block;
    margin: 0;
    width: 304px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #ff4400;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    vertical-align: bottom;
}
.email-submit {
    display: inline-block;
    margin: 0 0 0 -5px;
    width: 49px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #ff4400;
    border-left: none;
    text-indent: -9999px;
    background: url(../assets/newsletter_submit.png) center no-repeat;
}
.email-submit:hover {
    background-color: #ff4400;
    cursor: pointer;
    background-image: url(../assets/newsletter_submit_active.png);
}
.nav-link {
    color: #101e24;
}
.nav-link:active {
    color: #ff4400;
}
.content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 38%;
    left: 0;
    z-index: 1
}
.content > h1 {
    color: white;
    position: relative;
    left: 34%;
    width: 417px;
    font-size: 75px;
    font-family: GT Sectra Display Bold, sans-serif;
    margin-bottom: 50px;
}
.item {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    height: auto;
    box-sizing: border-box;
    vertical-align: top;
    background: #ffffff;
    padding: 50px 55px;
    text-align: left;
    margin-bottom: 15px;
    word-spacing: normal;
    box-shadow: 0 0 29px 0 rgb(0 0 0 / 9%);
}
.container4Item {
    background-color: #101e24;
}
.year-text {
    color: #ff4400
}
.description {
    font-family: Open Sans, sans-serif;
}
a.button {
    border: 1px solid #ff583c;
    font-size: 16px;
    color: #ff4400;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px 60px;
    display: inline-block;
}
a.button:hover {
    color: white;
    background-color: #ff4400;
}
.sponsor {
    max-width: 210px;
    max-height: 120px;
    margin-bottom: 70px;
}
.container-footer {
    background: #101e24;
    max-width: 100%;
}
.footer-link {
    font-weight: lighter;
    font-size: 13px;
    color: white;
    text-decoration: none;
    font-family: Novecentosanswide-Medium;
}
.footer-link:hover {
    color: #ff4400;
}
.container-content {
    padding: 60px 0;
}