@font-face {
    font-family: didotltsd;
    src: url(../fonts/DidotLTStd-Italic.otf);
}
@font-face {
    font-family: Novecentosanswide-Medium;
    src: url(../fonts/Novecentosanswide-Medium.otf);
}
@font-face {
    font-family: Novecentosanswide-Book;
    src: url(../fonts/Novecentosanswide-Book.otf);
}
@media screen and (max-width: 349px) {
    #timer .items .item-time { width: 40px; }
    #timer .items .item-time .value { font-size: 28px; margin-bottom: 10px; }
    #timer .items .item-time .label { font-size: 11px; }
}
@media screen and (max-width: 470px) {
    #timer .items .item-time { width: 70px; }
    #timer .items .item-time .value { font-size: 30px; margin-bottom: 10px; }
    #timer .items .item-time .label { font-size: 12px; }
}
@media screen and (max-width: 770px) {
    #timer .items .item-time { width: 80px; }
    #timer .items .item .value { font-size: 45px; }
}
body {
    font-family: Open Sans, sans-serif;
}
#container {
    background:#101e24;
    margin: 150px auto;
}
.container__content {
    /* display: inline-block; */
    width: 100%;
    max-width: 512px;
    height: 100%;
    box-sizing: border-box;
    vertical-align: top;
    background: #ffffff;
    padding: 50px 55px;
    text-align: left;
    margin-bottom: 15px;
    word-spacing: normal;
    box-shadow: 0 0 29px 0 rgb(0 0 0 / 9%);
    position: relative;
    top: -120px;
}
h2 {
    font-size: 16px;
}
h2:first-child {
    color: #ff4400;
}
a.button {
    border: 1px solid #ff583c;
    font-size: 16px;
    color: #ff4400;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px 60px;
    display: inline-block;
    text-align: center;
    width: 100%;
}
a.button:hover {
    color: white;
    background-color: #ff4400;
}
.forgot__pass {
    font-family: didotltsd, sans-serif;
    font-size: 14px;
    text-transform: lowercase;
}
.forgot__pass > a {
    color: #ff4400;
    text-decoration: none;
}
.forgot__pass > a:hover {
    text-decoration: underline;
}
.items {
    margin: 50px 0;
    word-spacing: 0;
}
.items .item-time {
    display: inline-block;
    border-left: 1px solid #ff583c;
    width: 174px;
}
.items .item-time:last-child {
    border-right: 1px solid #ff583c;
}
.items .item-time .value {
    font-size: 75px;
    color: #101e24;
    margin-top: -10px;
    display: inline-block;
    margin-bottom: 20px;
    font-family: Open sans, sans-serif;
}
.items .item-time .label {
    font-size: 14px;
    display: inline-block;
}
.container-footer {
    background: #101e24;
    max-width: 100%;
}
.footer-link {
    font-weight: lighter;
    font-size: 13px;
    color: white;
    text-decoration: none;
    font-family: Novecentosanswide-Medium;
}
.footer-link:hover {
    color: #ff4400;
}
.container-content {
    padding: 60px 0;
}
